/* Font — Poppins, Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

/* Colours*/
@theme {
  --color-purpleMain: #7C5CFF;
  --color-bgMain: #0f0f14;
  --color-border: #2A2A35;
  --color-whiteMain: #E6E6EB;
  
}

/* Screens*/
@theme {
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
}

/* Fonts*/
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif; 
}

